<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_LOCAL_NETWORK" />

    <application android:usesCleartextTraffic="true">
        <activity
            android:name=".diagnostics.DiagnosticsActivity"
            android:exported="true"
            android:label="DeviceBridge Diagnostics"
            android:theme="@style/Theme.DeviceBridge">
            <intent-filter>
                <action android:name="ru.hznik.devicebridge.action.OPEN_DIAGNOSTICS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
